.friend_list{
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    }
    
.friend_list li{
display: flex;
align-items: center;

width: 100%;
margin-bottom: 16px;
padding: 10px;

box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
border-radius: 5px;
border: 1px solid ghostwhite;
background-color: #ffffff;
}

.friend_list li:last-child{
margin-bottom: 0;
}

.status{
margin-right: 12px;
}

.friend_list li img{
width: 48px;
height: 48px;
margin-right: 18px;
border: 1px solid gray;
background-color: teal;
border-radius: 5px;
}

.friend_list li name{
color: black;
font-weight: 700;
}