@import-normalize; /* bring in normalize.css styles */

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container{
  /* margin-left: auto;
  margin-right: auto; */
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Profile */

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  width: 320px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.187;
  text-align: center;

  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.description{
  font-size: 20px;
  font-weight: 500;
  text-align: center;

  width: 100%;
  height: 100%;
  padding: 30px 30px;
  border-radius: 5px;
}

.avatar{
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 0 auto 36px;
  /* border-radius: 50%; */
}

.name{
  margin-bottom: 20px;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

.tag{
  margin-bottom: 10px;
  color: gray;
}

.location{
  color: gray;
}

.stats{
  display: flex;
  justify-content: center;

  width: 100%;
  background-color: rgba(245, 244, 250, 1);
}

.stats li {
  display: flex;
  /* flex-basis: calc((100% - 20px) / 3); */
  flex-basis: auto;
  align-content: center;
  flex-grow: 1;

  flex-direction: column;

  border: 1px solid #000;
  padding: 20px 20px;
}


.label{
  color: gray;
  margin-bottom: 5px;
  border-radius: 4px;
}

.quantity{
color: black;
font-weight: 700;
}

/* ======  END  Profile ======  */

/*  ===== Start statifics ===== */

.statistics{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  margin-left: auto;
  margin-right: auto;
  width: 320px;

  border: 2px solid black;
}

.title{
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 20px 20px;
  margin-bottom: 0;

  font-size: 24px;
  font-weight: 700;
  align-items: center;
}

.stat-list{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 2px solid black;
  background-color: rgba(245, 244, 250, 1);
}

.item{
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;

  padding: 10px 10px;
  border: 2px solid black;
}

.item .label{
  color: teal;
  margin-bottom: 10px;
}

.percentage{

}